<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="info.kuee.boxer3.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default"
            class="info.kuee.boxer3.intro.Perspective"
            id="info.kuee.boxer3.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="info.kuee.boxer3.application"
            name="Boxer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="info.kuee.boxer3.intro">
      </intro>
      <introProductBinding
            introId="info.kuee.boxer3.intro"
            productId="info.kuee.boxer3.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="info.kuee.boxer3.intro"
            content="introContent.xml"
            id="info.kuee.boxer3.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               label="File">
            <menu
                  label="New">
               <command
                     commandId="info.kuee.boxer3.commandNewFolder"
                     label="New Folder"
                     style="push">
               </command>
            </menu>
            <separator
                  name="Boxer3.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Settings">
            <command
                  commandId="info.kuee.boxer3.commandAuth"
                  label="Authenication"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="info.kuee.boxer3.commandNewFolder"
            name="New Folder">
      </command>
      <command
            id="info.kuee.boxer3.commandAuth"
            name="Authentication">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="info.kuee.boxer3.handlers.NewFolderHandler"
            commandId="info.kuee.boxer3.commandNewFolder">
      </handler>
      <handler
            class="info.kuee.boxer3.handlers.AuthHandler"
            commandId="info.kuee.boxer3.commandAuth">
      </handler>
   </extension>

</plugin>
